<h1>Insertar un nuevo producto</h1>

<form action="/product" method="POST" enctype="multipart/form-data">
    <label for="cod">Código: </label>
    <input type="number" id="cod" name="cod" required>
    <br>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="price">Price: </label>
    <input type="number" id="price" name="price" required>
    <br>
    <label for="description">Description: </label>
    <input type="text" id="description" name="description" required>
    <br>
    <input type="file" id="file" name="file">
    <br>
    <button type="submit">Insert</button>
</form>